Node-RED/Eventdata-flow.txt
[{"id":"fb8f1880.494c7","type":"ibmiot in","z":"714e3c46.ceeabc","authentication":"apiKey","apiKey":"bd7a2adb.895738","inputType":"evt","deviceId":"","applicationId":"","deviceType":"Elevator","eventType":"Status","commandType":"","format":"json","name":"Receive IoT Device events","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":119,"y":150.28887939453125,"wires":[["c99855ef.09ef"]]},{"id":"c99855ef.09ef","type":"function","z":"714e3c46.ceeabc","name":"Create PMQ Event data","func":"function ISODateString(d) {\n    function pad(n) {return n<10 ? '0'+n : n}\n    return d.getUTCFullYear()+'-'\n         + pad(d.getUTCMonth()+1)+'-'\n         + pad(d.getUTCDate())+'T'\n         + pad(d.getUTCHours())+':'\n         + pad(d.getUTCMinutes())+':'\n         + pad(d.getUTCSeconds())+'Z'\n}\n\nvar date = new Date();\nvar orgid = \"37ta27\";\nconsole.log(msg.payload.ClientID);\nvar input = msg;\nif(input.payload.hasOwnProperty('d')) {\n    input.payload = input.payload.d;\n}\n\nvar deviceType = msg.topic.split('/')[2];\nvar deviceId = msg.topic.split('/')[4];\n//var modelValue = deviceType + '@' + orgid;\nvar modelValue = deviceType;\nvar doorOp = \"\" + input.payload.doorOpen;\nvar direction = \"\" + input.payload.direction;\nvar floor = \"\" + input.payload.currentFloor;\nmsg = {\n    payload: JSON.stringify({\n\n\tevent: {\n\t\t\"event_type_cd\": \"MEASUREMENT\",\n\t\tevent_start_time: ISODateString(date),\n        serial_no : deviceId,\n        model : modelValue,\n\t\t\"observation\": [{\n\t\t\t\"measurement_type_cd\": \"currentFloor\",\n\t\t\t\"observation_text\": floor,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"doorOpen\",\n\t\t\t\"observation_text\": doorOp,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"direction\",\n\t\t\t\"observation_text\": direction,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"motorTemp\",\n\t\t\t\"measurement\": input.payload.motorTemp,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"cabinTemp\",\n\t\t\t\"measurement\": input.payload.cabinTemp,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"cabinSpeed\",\n\t\t\t\"measurement\": input.payload.cabinSpeed,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"state\",\n\t\t\t\"observation_text\": input.payload.state,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"load\",\n\t\t\t\"measurement\": input.payload.load,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t},{\n\t\t\t\"measurement_type_cd\": \"curtainOfLightBreak\",\n\t\t\t\"measurement\": input.payload.curtainOfLightBreak,\n\t\t\tobservation_timestamp : ISODateString(date)\n\t\t}]\n\t}\n    })\n};\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":149.48886108398438,"wires":[["6aca3430.68c6bc","f049766.a7bc908"]]},{"id":"f049766.a7bc908","type":"debug","z":"714e3c46.ceeabc","name":"","active":false,"console":"false","complete":"false","x":800,"y":230.88888549804688,"wires":[]},{"id":"6aca3430.68c6bc","type":"http request","z":"714e3c46.ceeabc","name":"Send to Custom IIB Flow","method":"POST","ret":"txt","url":"http://169.54.101.201:7080/pmq/eventdatain","tls":"","x":714.2999877929688,"y":149.6888427734375,"wires":[["f049766.a7bc908"]]},{"id":"8b62fe7a.441c38","type":"comment","z":"714e3c46.ceeabc","name":"Event data flow","info":"","x":85,"y":101.88888549804688,"wires":[]},{"id":"455571d6.186f5","type":"comment","z":"714e3c46.ceeabc","name":"Set the organization id to your organization","info":"","x":487,"y":99.88888549804688,"wires":[]},{"id":"bd7a2adb.895738","type":"ibmiot","z":"714e3c46.ceeabc","name":"37ta27","keepalive":"60","cleansession":true}]