Node-RED/Eventdata-flow.txt
[{"id":"aef2252f.2a81d","type":"ibmiot","z":"3e5ff699.1d33ba","name":"coi0nz"},{"id":"3e0c2ee7.3c373a","type":"ibmiot in","z":"3e5ff699.1d33ba","authentication":"apiKey","apiKey":"aef2252f.2a81d","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"Receive IoT Device events","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":180,"y":133.39999389648438,"wires":[["fb60e8e7.14e48"]]},{"id":"fb60e8e7.14e48","type":"function","z":"3e5ff699.1d33ba","name":"Create PMQ Event data","func":"function ISODateString(d) {\n    function pad(n) {return n<10 ? '0'+n : n}\n    return d.getUTCFullYear()+'-'\n         + pad(d.getUTCMonth()+1)+'-'\n         + pad(d.getUTCDate())+'T'\n         + pad(d.getUTCHours())+':'\n         + pad(d.getUTCMinutes())+':'\n         + pad(d.getUTCSeconds())+'Z'\n}\n\nvar date = new Date();\nvar orgid = \"f89p2r\";\nconsole.log(msg.payload.ClientID);\nvar input = msg;\nif(input.payload.hasOwnProperty('d')) {\n    input.payload = input.payload.d;\n}\n\nvar deviceType = msg.topic.split('/')[2];\nvar deviceId = msg.topic.split('/')[4];\nvar modelValue = deviceType + '@' + orgid;\nmsg = {\n    payload: JSON.stringify({\n\n    event: {\n        event_type_cd : \"IOTDEVICE\",\n        event_start_time: ISODateString(date),\n        serial_no : deviceId,\n        model : modelValue,\n        observation : [\n            {\n                measurement_type_cd : \"TEMPERATURE\",\n                measurement : input.payload.temperature,\n                observation_timestamp : ISODateString(date)\n            }\n        ]\n    }\n    })\n};\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":132.5999755859375,"wires":[["6745dc8c.20f2dc"]]},{"id":"c1182c8f.2721c8","type":"debug","z":"3e5ff699.1d33ba","name":"","active":true,"console":"false","complete":"false","x":861,"y":214,"wires":[]},{"id":"6745dc8c.20f2dc","type":"http request","z":"3e5ff699.1d33ba","name":"Send to Custom IIB Flow","method":"POST","ret":"txt","url":"http://9.24.211.254:7080/pmq/eventin","x":775.2999877929688,"y":132.79995727539062,"wires":[["c1182c8f.2721c8"]]},{"id":"35e50789.c75118","type":"comment","z":"3e5ff699.1d33ba","name":"Event data flow","info":"","x":146,"y":85,"wires":[]},{"id":"c17abac6.87d9d8","type":"comment","z":"3e5ff699.1d33ba","name":"Set the organization id to your organization","info":"","x":548,"y":83,"wires":[]}]