Node-RED/MasterData-flow.txt
[{"id":"aef2252f.2a81d","type":"ibmiot","z":"3e5ff699.1d33ba","name":"coi0nz"},{"id":"ec2d9f2b.0e936","type":"ibmiot in","z":"3e5ff699.1d33ba","authentication":"apiKey","apiKey":"aef2252f.2a81d","inputType":"devsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Device connectivity status","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":209,"y":415.5,"wires":[["246a5698.28d5aa"]]},{"id":"91396f69.b8a4b","type":"function","z":"3e5ff699.1d33ba","name":"Create PMQ Master Data","func":"var clientId = msg.payload.ClientID;\nvar deviceType = clientId.split(':')[2];\nvar deviceId = clientId.split(':')[3];\nmsg = {\n    payload: JSON.stringify({\n    resource: {\n        MASTER_RESOURCE: {\n            RESOURCE_CD1 : deviceId,\n            RESOURCE_CD2 : deviceType,\n            RESOURCE_NAME : deviceId,\n            RESOURCE_TYPE_CD : \"ASSET\",\n            RESOURCE_SUB_TYPE : \"iot-device\"\n        }\n    }\n    })\n};\nreturn msg; ","outputs":1,"noerr":0,"x":592,"y":497.5,"wires":[["81f2b978.42f94"]]},{"id":"246a5698.28d5aa","type":"switch","z":"3e5ff699.1d33ba","name":"Check if Connect event","property":"payload.Action","propertyType":"msg","rules":[{"t":"eq","v":"Connect","vt":"str"}],"checkall":"true","outputs":1,"x":304,"y":496.5,"wires":[["91396f69.b8a4b"]]},{"id":"81f2b978.42f94","type":"http request","z":"3e5ff699.1d33ba","name":"Invoke PMQ","method":"POST","ret":"txt","url":"http://9.24.211.254:7080/pmq/masterdatain","x":688,"y":419,"wires":[["b55fa70.8b99cd8"]]},{"id":"b55fa70.8b99cd8","type":"debug","z":"3e5ff699.1d33ba","name":"Print response","active":true,"console":"false","complete":"payload","x":916,"y":419,"wires":[]}]