Node-RED/MasterData-flow.txt
[{"id":"dafa731.c81d29","type":"ibmiot in","z":"714e3c46.ceeabc","authentication":"apiKey","apiKey":"bd7a2adb.895738","inputType":"devsts","deviceId":"PMQ-Device","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Device connectivity status","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":148,"y":432.3888854980469,"wires":[["202bc445.f786ac"]]},{"id":"a89a6f54.96e088","type":"function","z":"714e3c46.ceeabc","name":"Create PMQ Master Data","func":"var clientId = msg.payload.ClientID;\nvar orgid = clientId.split(':')[1];\nvar deviceType = clientId.split(':')[2];\nvar deviceId = clientId.split(':')[3];\n//var modelValue = deviceType + '@' + orgid;\nvar modelValue = deviceType;\n\nmsg = {\n    payload: JSON.stringify({\n    resource: {\n        MASTER_RESOURCE: {\n            RESOURCE_CD1 : deviceId,\n            RESOURCE_CD2 : modelValue,\n            RESOURCE_NAME : deviceId,\n            RESOURCE_TYPE_CD : \"ASSET\",\n            RESOURCE_SUB_TYPE : \"iot-device\"\n        }\n    }\n    })\n};\nreturn msg; ","outputs":1,"noerr":0,"x":531,"y":514.3888854980469,"wires":[["2367e118.294e4e","24d1a237.c14fbe"]]},{"id":"202bc445.f786ac","type":"switch","z":"714e3c46.ceeabc","name":"Check if Connect event","property":"payload.Action","propertyType":"msg","rules":[{"t":"eq","v":"Connect","vt":"str"}],"checkall":"true","outputs":1,"x":255,"y":492.3888854980469,"wires":[["a89a6f54.96e088"]]},{"id":"2367e118.294e4e","type":"http request","z":"714e3c46.ceeabc","name":"Invoke PMQ","method":"POST","ret":"txt","url":"http://169.54.101.201:7080/pmq/masterdatain","tls":"","x":627,"y":435.8888854980469,"wires":[["24d1a237.c14fbe"]]},{"id":"24d1a237.c14fbe","type":"debug","z":"714e3c46.ceeabc","name":"Print response","active":false,"console":"false","complete":"payload","x":855,"y":435.8888854980469,"wires":[]},{"id":"f6f4f42d.e9ded8","type":"comment","z":"714e3c46.ceeabc","name":"Master data flow","info":"","x":119,"y":387.8888854980469,"wires":[]},{"id":"bd7a2adb.895738","type":"ibmiot","z":"714e3c46.ceeabc","name":"37ta27","keepalive":"60","cleansession":true}]